# Conduit (Matrix)
CONDUIT_SERVER_NAME=matrix.domain.com
CONDUIT_REGISTRATION_TOKEN=INSERT_SECURE_TOKEN_HERE

# LiveKit
LIVEKIT_KEY=INSERT_LIVEKIT_KEY_HERE
LIVEKIT_SECRET=INSERT_LIVEKIT_SECRET_HERE
LIVEKIT_URL=wss://livekit.domain.com
LIVEKIT_FULL_ACCESS_HOMESERVERS=https://matrix.domain.com