# Discord Settings
DISCORD_TOKEN='[DISCORD_API_TOKEN]'
PUBLIC_CHANNEL='[General-Join-Death-Awards]'
GLOBAL_CHANNEL='[General-Text-Channel-ID]'
LINK_CHANNEL='[Account-Linking-Text-Channel-ID]'
CONSOLE_CHANNEL='[Hidden-Admin-Console-ID]'
VOICE_CATEGORY='[Proximity-Voice-Channel-ID]'
LOBBY_CHANNEL='[Proximity-Voice-Channel-ID]'
INVITE_LINK='https://discord.gg/[server_id]'

# Minecraft settings
SERVER_URL='world.url.domain'
SERVER_TYPE="FABRIC"
RCON_PASSWORD='a_strong_password'
RESTIC_PASSWORD='a_strong_password'
OPS='Comma separated list of OPS'
MOTD='Message displayed to players'
