# Minecraft settings
SERVER_URL='world.url.domain'
SERVER_TYPE="VANILLA"
RCON_PASSWORD='a_strong_password'
RESTIC_PASSWORD='a_strong_password'
OPS='Comma separated list of OPS'
MOTD='Message displayed to players'
