# Discord Settings
DISCORD_TOKEN='[DISCORD_API_TOKEN]'
PUBLIC_CHANNEL='[general]'
ADMIN_CHANNEL='[Notification-Text-Channel-ID]'
LINK_CHANNEL='' # WHAT IS THIS
CONSOLE_CHANNEL='[Hidden-Admin-Console-ID]'
VOICE_CATEGORY='[Proximity-Voice-Channel-ID]'
LOBBY_CHANNEL='[Proximity-Voice-Channel-ID]'
INVITE_LINK='https://discord.gg/[server_id]'

# Minecraft settings
SERVER_URL='world.url.domain'
SERVER_TYPE="PAPER"
RCON_PASSWORD='a_strong_password'
OPS='Comma separated list of OPS'
MOTD='Message displayed to players'
